<!DOCTYPE html>
<html lang="en">
<head>
  <title>News Feed</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EmailerNews</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login" class="">Login</a></li><li>+
    </ul>


  </div>
</nav>

<div class="container-fluid">

  {% block main %}{% endblock %}

</div>

</body>
</html>
